<mat-card>
<mat-card-title>{{room}}</mat-card-title>
<mat-card-subtitle>	Card subtitle</mat-card-subtitle>
<mat-card-content>
<img mat-card-image>
Primary card content. Intended for blocks of text</mat-card-content>
<mat-card-actions>	Container for buttons at the bottom of the card</mat-card-actions>
<mat-card-footer>
<button mat-button
               #incomingGuest
               color="primary"
               >Incoming</button>
<button mat-button
       #exitingGuest
       color="warn"
       >Departing</button>
</mat-card-footer>
</mat-card>


