<div class="mat-app-background basic-container">
<a routerLink="/venue/add" mat-button color="accent" class="alignright" style="float: right;">
    <mat-icon mat-list-icon>add</mat-icon>ADD VENUE
</a>
<h2>{{pageTitle}}</h2>
<table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let venue"> {{venue.name}}</td>
  </ng-container>

  <ng-container matColumnDef="rooms">
    <th mat-header-cell *matHeaderCellDef> Rooms </th>
    <td mat-cell *matCellDef="let venue"> {{venue.rooms}} </td>
  </ng-container>

  <ng-container matColumnDef="capacity">
    <th mat-header-cell *matHeaderCellDef> Capacity </th>
    <td mat-cell *matCellDef="let venue"> {{venue.current}}/{{venue.capacity}} </td>
  </ng-container>

  <ng-container matColumnDef="occupancy">
    <th mat-header-cell *matHeaderCellDef> Occupancy </th>
    <td mat-cell *matCellDef="let venue"> <mat-progress-bar mode="determinate" value=venue.occupancy ></mat-progress-bar> </td>
  </ng-container>


  <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let venue">
          <a mat-button [routerLink]="['/venue', venue._id]">
            <mat-icon mat-list-icon>location_city</mat-icon>
            <span mat-line>View Venue</span>
          </a>
          <a mat-button [routerLink]="['/venue', venue._id, 'edit']">
            <mat-icon mat-list-icon>edit</mat-icon>
            <span mat-line>Edit Venue</span>
          </a>
          <a mat-button [routerLink]="['/venue', venue._id,'rooms']">
            <mat-icon mat-list-icon>local_bar</mat-icon>
            <span mat-line>View Rooms</span>
          </a>
        </td>
    </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>

