<div class="mat-app-background basic-container">
  <rez-loading *ngIf="loading"></rez-loading>
  <ng-template [ngIf]="utils.isLoaded(loading)">

  <ng-template [ngIf]="door">
    <a *ngIf="auth.loggedIn && auth.isAdmin"
       routerLink="['/door',door._id,'edit']"
       mat-button
       color="accent"
       class="alignright"
       style="float: right;">
         <mat-icon mat-list-icon>edit</mat-icon> EDIT DOOR
    </a>
    <h2>{{pageTitle}}</h2>
    <mat-card class="example-card">
    <mat-card-header>
      <mat-icon mat-card-avatar mat-list-icon class="md-40">local_bar</mat-icon>
      <mat-card-title>{{room.title}}</mat-card-title>
      <mat-card-subtitle>Venue: {{room.venueId.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <span>Occupancy:</span> {{room.occupancy}}
        <span>Capacity:</span> {{room.capacity}}
        <span>Filled:</span> {{progress}}%
      </p>
      <p>
        <mat-progress-bar mode="determinate" value="{{progress}}" [color]="progressColor(progress)"></mat-progress-bar>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="sendGuestEnter()">GUEST ENTER</button>
      <button mat-raised-button color="warn" (click)="sendGuestExit()">GUEST EXIT</button>
    </mat-card-actions>
  </mat-card>

  </ng-template>
    <!-- Error loading events -->
    <p *ngIf="error" class="alert alert-danger">
      <strong>Oops!</strong> There was an error retrieving information for this door.
    </p>
  </ng-template>
</div>