<mat-card class="example-card">
  <mat-card-header>
    <mat-icon mat-card-avatar mat-list-icon class="md-36">local_bar</mat-icon>
    <mat-card-title>Venue</mat-card-title>
    <mat-card-subtitle>Track Real Time Capacities</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p> Biltong fatback jerky pig beef alcatra short loin filet mignon short ribs strip steak pork loin shank. Ball tip pork belly alcatra.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-list-item routerLink="venue">
      <button mat-flat-button>VENUE</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-icon mat-card-avatar mat-list-icon class="md-36">import_export</mat-icon>
    <mat-card-title>Capacity</mat-card-title>
    <mat-card-subtitle>Track Real Time Capacities</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p> Vivamus vel dolor rhoncus, consequat dui a, vulputate ex. Duis vel erat risus. Nulla ultricies sem in facilisis consectetur.
    </p>
  </mat-card-content>
  <mat-card-actions>
  	<a mat-list-item routerLink="capacity">
    	<button mat-flat-button>CAPACITY</button>
  	</a>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-icon mat-card-avatar mat-list-icon class="md-36">chat</mat-icon>
    <mat-card-title>Chat</mat-card-title>
    <mat-card-subtitle>Real Time Chat</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p> Vivamus vel dolor rhoncus, consequat dui a, vulputate ex. Duis vel erat risus. Nulla ultricies sem in facilisis consectetur.
    </p>
  </mat-card-content>
  <mat-card-actions>
  	<a mat-list-item routerLink="chat">
    	<button mat-flat-button>CHAT</button>
  	</a>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-icon mat-card-avatar mat-list-icon class="md-36">insert_chart</mat-icon>
    <mat-card-title>Reports</mat-card-title>
    <mat-card-subtitle>Real Time Charts</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p> Vivamus vel dolor rhoncus, consequat dui a, vulputate ex. Duis vel erat risus. Nulla ultricies sem in facilisis consectetur.</p>
  </mat-card-content>
  <mat-card-actions>
  	<a mat-list-item routerLink="report">
    	<button mat-flat-button>REPORT</button>
  	</a>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-icon mat-card-avatar mat-list-icon class="md-36">format_list_bulleted</mat-icon>
    <mat-card-title>Logs</mat-card-title>
    <mat-card-subtitle>Real Time Logs</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p> Vivamus vel dolor rhoncus, consequat dui a, vulputate ex. Duis vel erat risus. Nulla ultricies sem in facilisis consectetur.</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-list-item routerLink="log">
      <button mat-flat-button>LOGS</button>
    </a>
  </mat-card-actions>
</mat-card>


